/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* common styles */
.primary-color {
    color: #727272;
}

.secondary-color {
    color: #131313;
}

.primary-btn {
    padding: 20px 24px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
}

.container {
    margin: 100px 200px;
}

/* header styles */
.header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 200px 45px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-name {
    font-weight: 700;
    font-size: 45px;
}

.links {
    display: flex;
    gap: 15px
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: #727272;
    font-weight: 500;
    font-size: 18px;
}

/* banner styles */
.banner {
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    margin-top: 100px;
    padding: 5px 150px;
}

.banner-description {
    padding: 32px 50px;
    font-size: 16px;
    font-weight: 400;
}

.banner-thumbnail {
    margin-top: 50px;
    width: 100%
}

.banner-thumbnail img {
    width: 100%;
}

/* feature section styles */
.features {
    display: flex;
    align-items: center;
    gap: 70px;
}

.feature-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.team {
    width: 200px;
    height: 200px;
}

.team img {
    width: 100%;
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
}

.feature-title span {
    color: #FF900E;
}

.feature-description {
    font-size: 14px;
    font-weight: 400;
    margin: 24px 0px 32px;
}

/* Feature lists section styles */
.feature-details {
    display: flex;
    gap: 54px;
    justify-content: space-between;
}

.featurelists {
    width: 100%;
}

.feature-title.bordered {
    padding-left: 20px;
    border-left: 3px solid #FF900E;
}

.feature {
    padding: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;

}

.feature-banner {
    width: 100%;
}

.feature-banner img {
    width: 100%;
    height: 100%;
}

.experience {
    margin-left: 45%;
    margin-top: -50px;
    font-size: 36px;
}

/* some facts section  */
.facts {
    display: flex;
    margin: 100px 30px;
    gap: 24px;
}

.fact {
    width: 250px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 50px 0px 0px;
}
.fact:hover{
    animation: mymove 0.5s;
 }
 
 @keyframes mymove {
   from { border: 1px solid #FF900E;}
   to { border: 3px solid #3977be;}
 }
.fact h3 {
    font-size: 45px;
}

/* our sponsors section styles */
.sponsors-container {
    text-align: center;
}

.sponsors-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sponsors-logos img{
    width: 100px;
    
}
/* our services */
.service-title{
    text-align: center;
    margin-bottom: 30px;
}
.services{
    display: flex;
    gap: 24px;
    text-align: center;
    margin: 0px 10%;
}
.service{
    width: 300px;
    border: 1px solid saddlebrown;
    border-radius: 10px;
    transition: transform 0.3s;
}
.service:hover{
    transform: rotate(8deg);
}
.service img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
}
.service p{
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
}
/* footer styles  */
.footer {
    background: #FFF4E7;
    border-radius: 8px;
    height: 100px;
    text-align: center;
}

.footer p {
    padding: 40px;
}



/* Media query for responsive */
@media screen and (max-width: 576px) {
    
    .container {
        margin: 50px 5%;
        width: 80%;
    }

    .header {
        padding: 50px 0px 45px;
        margin: 0px;
    }

    .nav,
    .links {
        flex-direction: column;

    }

    .features,
    .feature-details {
        flex-direction: column;
        margin: 0px 3%;
    }
    .feature{
        width: 100%;
    }
    .site-name,.feature-title{
        font-size: 24px;
        margin-bottom: 30px;
    }

    .banner-title {
        font-size: 24px;
        margin-top: 50px;
        padding: 5px 10px;
    }

    .feature-teams {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 5%;
    }
   
    .team,
    .feature-banner,
    .banner-thumbnail {
        width: 90%;
        height: 100%;
        padding: 0px 5%;
    }
    .fact,.service{
        width: 95%;
        margin-left: 5%;
    }


    .experience {
        margin-left: 20%;
        margin-top: 10px;
        font-size: 24px;
    }

    .facts,
    .services,.sponsors-logos {
        flex-direction: column;
        gap: 20px;
        padding-left: 5%;
        margin-top: 20px;
    }
   
    .sponsors-logos img{
        width: 60px;
    }
    .footer{
        height: 100%;
        width: 80%;
        margin:10%;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .container {
        margin: 50px 5%;
        width: 80%;
    }

    .header {
        padding: 50px 10px 45px;
        margin: 0px;
    }
    
    .features,
    .feature-details {
        flex-direction: column;
        margin: 0px 5%;
    }
    .feature{
        width: 100%;
    }
    .site-name,.feature-title{
        font-size: 30px;
        margin-bottom: 30px;
    }

    .banner-title {
        font-size: 30px;
        margin-top: 50px;
        padding: 5px 10px;
    }


   
    .team,
    .feature-banner,
    .banner-thumbnail {
        width: 90%;
        height: 100%;
        padding: 0px 5%;
    }
    .service{
        width: 450px;
        height: 450px;
        margin-left: 5%;
    }


    .experience {
        margin-left: 30%;
        margin-top: 10px;
        font-size: 24px;
    }
    .services,.facts{
        margin-top: 20px;
        flex-wrap: wrap;
        
    }
    .service img{
        height: 300px;
    }
   
    .sponsors-logos img{
        width: 60px;
    }
    
}